{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
      <header class="masthead" style="background-image: url('/mysite/static/img/attendancepage.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Attendance Page</h1>
              <span class="subheading">LIST OF STUDENTS PRESENT TODAY</span>
            </div>
          </div>
        </div>
      </div>
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
          <strong>Message : </strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endfor %}
    </header>
    <!-- Main Content -->
    <div class="container">
        <script>
            window.onload = function () {


                var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Attendance"
                },
                data: [{
                    type: "pie",
                    startAngle: 240,

                    indexLabel: "{label} {y}",
                    dataPoints: [
                        {y: {{ presentCount}}, label: "Preset"},
                        {y: {{ totalCount }}-{{ presentCount }}, label: "Absent"}
                    ]
                }]
            });
            chart.render();

            }
        </script>

        <body bgcolor="#faebd7">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
{#            <div id="title">#}
            <marquee class="table table-striped" scrollamount="10" bgcolor="Aqua" align="center"><h1>LIVE ATTENDANCE SYSTEM OF OFFICE</h1></marquee>
            <table width="400px" align="center" border="1px">
             <tr>
                 <th bgcolor="#d2b48c"><h3 align="center">Total Employees : {{ totalCount }}</h3></th>
             </tr>
             <tr>
                 <th bgcolor="#f0e68c"> <h3 align="center">Present Employees : {{ presentCount}}</h3></th>
             </tr>

            </table>
             <hr>
{#             </div>#}
        <table id="comments" class="table table-striped" style="width:80%" border="1" align="center">

            <tr bgcolor="aqua">
                <th align="center">EID</th>
                <th align="center">Date</th>
                <th align="center">Mac</th>
                <th align="center">Time of Entry</th>
            </tr>



                {% for i in object %}
                     <tr class="result"  bgcolor="#e6e6fa">
                     <td align="center"> {{ i.usn }}</td>
                     <td align="center"> {{ i.date }}</td>
                     <td align="center"> {{ i.mac }}</td>
                     <td align="center"> {{ i.time }}</td>

                     </tr>
                {% endfor %}


        </table>


    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script data-th-src="@{/js/main.js}"></script>
    </body>
    {% endblock %}